@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Artifika", serif;
  /* font-weight: 300; */
  font-style: normal;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #182C61;
}

.bmi-container{
  width: 800px;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
}

.box{
  width: 400px;
  background-image: url(./assets/bmi.png);
  background-repeat: no-repeat;
  background-position: center; 
  float: right;
  margin-right: 50px;
}
.data{
  flex: 1;
  padding: 15px;
}
h1{
  font-weight: 600;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
  color: rgb(47, 47, 42);
  font-size: 20px;
  
}
.input-container{
  margin-bottom: 20px;
}
label{
  display: block;
  margin-bottom: 5px;
  color: #2d2727;
}
input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 15px;
}
button{
  background-color: #814e4e;
  border: none;
  color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  transition:background 0.3s;
}
button:hover{
  background-color: #461a1a;
  cursor: pointer;
}

.result{
  margin-top: 30px;
  border: 2px solid #2d2727;
  border-radius: 4px;
}

.result p{
  margin: 10px;
  color: #2d2727;
}

.result p:first-child{
font-weight: bold;
  color: #2d2727;
}

.error{
  color: red;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 10px;
}
.data button:nth-of-type(2){
  
  background-color: red;
  margin-left: 10px;
  width: 100px  ;

}
.data button:nth-of-type(2):hover{
  
  background-color: rgb(193, 1, 1);
}